<template>
    <div>
        <h1>Чат с клиентом</h1>
        <div style="display: flex; flex-direction: column">
            <div style="padding: 4px 8px; border-radius: 16px; background-color: lightgray; margin-right: auto; margin-bottom: 6px;">
                Дороу
            </div>
            <div style="padding: 4px 8px; border-radius: 16px; background-color: lightgray; margin-left: auto; margin-bottom: 6px;">
                Прив
            </div>
            <div style="padding: 4px 8px; border-radius: 16px; background-color: lightgray; margin-right: auto; margin-bottom: 6px;">
                Кинь мемасик плез 🙏
            </div>
            <div style="padding: 4px 8px; border-radius: 16px; background-color: lightgray; margin-left: auto; margin-bottom: 6px;">
                Ща сек
            </div>
            <div style="padding: 4px 8px; border-radius: 16px; background-color: lightgray; margin-left: auto; margin-bottom: 6px;">
                Держи
            </div>
            <div style="padding: 4px 8px; border-radius: 16px; background-color: lightgray; margin-left: auto; margin-bottom: 6px;">
                <img :src="meme" width="150" height="auto" />
            </div>
            <div style="padding: 4px 8px; border-radius: 16px; background-color: lightgray; margin-right: auto; margin-bottom: 6px;">
                👍👍👍
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        fetch('https://meme-api.herokuapp.com/gimme').then(response => console.log(response.json().then(res => this.meme = res.url)))
    },
    data() {
        return {
            meme: null
        }
    }
}
</script>
