<template>
  <a-layout id="default" style="min-height: 100vh;">
    <a-layout-content style="padding: 50px">
      <a-layout style="padding: 24px 0; background: #fff">
        <a-layout-sider width="200">
          <a-menu mode="inline" :defaultSelectedKeys="['0']" style="height: 100%">
            <a-menu-item key="0">
              <span class="emoji">💬</span>
              <a-badge dot>
                <span style="padding-right: 8px">
                  Активные чаты (7)
                </span>
              </a-badge>
            </a-menu-item>
            <a-menu-item key="1">
              <span class="emoji">⚙</span>
              Настройки
            </a-menu-item>
          </a-menu>
        </a-layout-sider>
        <a-layout-content :style="{ padding: '0 24px', minHeight: '280px' }">
          <nuxt/>
        </a-layout-content>
      </a-layout>
    </a-layout-content>
  </a-layout>
</template>

<style>
@font-face {
    font-family: "Noto Emoji Color";
    src: local("Noto Color Emoji");
    src: url("/fonts/NotoColorEmoji.ttf");
}
.emoji {
    font-family: 'Noto Emoji Color';
}
body {
  font-family: 'Noto Sans', 'Noto Emoji Color', sans-serif;
}
</style>

<script>
export default {
  data() {
    return {
      menuItems: [
        {
          icon: "robot",
          title: "Боты"
        },
        {
          icon: "setting",
          title: "Настройки"
        }
      ]
    };
  }
};
</script>
