﻿

User <input type="text" id="userInput" />
<br />
Message<input type="text" id="messageInput" />
<input type="button" id="sendButton" value="Send Message" />
        <hr />
            <ul id="messagesList"></ul>
        <hr />

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
