<template>
  <a-layout>
    <a-layout-content style="background-color: #fff">
      <a-row :gutter="16">
        <a-col :span="14">
          <h1>
            <span class="emoji">💬</span>
            Активные чаты
          </h1>
          <a-collapse v-model="activeKey">
            <a-collapse-panel key="warning">
              <template #header>
                <span class="emoji">⚠</span>
                Требуется оператор ({{ warningBots.length }})
              </template>
              <a-list :grid="{ column: 2, gutter: 16 }" :dataSource="warningBots">
                <a-list-item slot="renderItem" slot-scope="bot">
                  <a-card>
                    <template #title>
                      <span class="emoji">🤖</span>
                      Бот №{{ bot.id }} - {{ bot.name }}
                    </template>
                    <a-tag color="pink">{{ bot.type }}</a-tag>
                    <a-row style="margin-top: 12px;">
                      <a-col :span="12">Имя клиента:</a-col>
                      <a-col :span="12">{{ bot.clientName || 'Неизвестно' }}</a-col>
                    </a-row>
                    <div style="margin-top: 12px">
                      <h5>
                        <span class="emoji">🗨</span> История сообщений
                      </h5>::Тут последние 5 сообщений::
                    </div>
                    <template #actions>
                      <a-row>
                        <a-col :span="24">
                          <a-button type="primary">Подключиться к чату</a-button>
                        </a-col>
                      </a-row>
                    </template>
                  </a-card>
                </a-list-item>
              </a-list>
            </a-collapse-panel>
            <a-collapse-panel key="type-1">
              <template #header>Тип 1 ({{ warningBots.length }})</template>
              <a-list :grid="{ column: 2, gutter: 16 }" :dataSource="warningBots">
                <a-list-item slot="renderItem" slot-scope="bot">
                  <a-card>
                    <template #title>
                      <a-icon type="robot"/>
                      Бот №{{ bot.id }} - {{ bot.name }}
                    </template>
                    <a-tag color="pink">{{ bot.type }}</a-tag>
                    <a-row style="margin-top: 12px;">
                      <a-col :span="12">Имя клиента:</a-col>
                      <a-col :span="12">{{ bot.clientName || 'Неизвестно' }}</a-col>
                    </a-row>
                    <div style="margin-top: 12px">::Тут последние 5 сообщений::</div>
                    <template #actions>
                      <a-row>
                        <a-col :span="24">
                          <a-button type="primary">Подключиться к чату</a-button>
                        </a-col>
                      </a-row>
                    </template>
                  </a-card>
                </a-list-item>
              </a-list>
            </a-collapse-panel>
            <a-collapse-panel key="type-2">
              <template #header>Тип 2 ({{ warningBots.length }})</template>
              <a-list :grid="{ column: 2, gutter: 16 }" :dataSource="warningBots">
                <a-list-item slot="renderItem" slot-scope="bot">
                  <a-card>
                    <template #title>
                      <a-icon type="robot"/>
                      Бот №{{ bot.id }} - {{ bot.name }}
                    </template>
                    <a-tag color="pink">{{ bot.type }}</a-tag>
                    <a-row style="margin-top: 12px;">
                      <a-col :span="12">Имя клиента:</a-col>
                      <a-col :span="12">{{ bot.clientName || 'Неизвестно' }}</a-col>
                    </a-row>
                    <div style="margin-top: 12px">::Тут последние 5 сообщений::</div>
                    <template #actions>
                      <a-row>
                        <a-col :span="24">
                          <a-button type="primary">Подключиться к чату</a-button>
                        </a-col>
                      </a-row>
                    </template>
                  </a-card>
                </a-list-item>
              </a-list>
            </a-collapse-panel>
            <a-collapse-panel key="type-3">
              <template #header>Тип 2 ({{ warningBots.length }})</template>
              <a-list :grid="{ column: 2, gutter: 16 }" :dataSource="warningBots">
                <a-list-item slot="renderItem" slot-scope="bot">
                  <a-card>
                    <template #title>
                      <a-icon type="robot"/>
                      Бот №{{ bot.id }} - {{ bot.name }}
                    </template>
                    <a-tag color="pink">{{ bot.type }}</a-tag>
                    <a-row style="margin-top: 12px;">
                      <a-col :span="12">Имя клиента:</a-col>
                      <a-col :span="12">{{ bot.clientName || 'Неизвестно' }}</a-col>
                    </a-row>
                    <div style="margin-top: 12px">::Тут последние 5 сообщений::</div>
                    <template #actions>
                      <a-row>
                        <a-col :span="24">
                          <a-button type="primary">Подключиться к чату</a-button>
                        </a-col>
                      </a-row>
                    </template>
                  </a-card>
                </a-list-item>
              </a-list>
            </a-collapse-panel>
          </a-collapse>
        </a-col>
        <a-col :span="10">
          <nuxt-child />
        </a-col>
      </a-row>
    </a-layout-content>
  </a-layout>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      activeKey: ["warning"],
      warningBots: [
        {
          id: 1,
          name: "Евгений",
          clientName: undefined,
          type: "Тип бота №1"
        },
        {
          id: 2,
          name: "Дмитрий",
          clientName: "Ксения",
          type: "Тип бота №2"
        },
        {
          id: 3,
          name: "Сергей",
          clientName: "Мегатрон3000",
          type: "Тип бота №3"
        }
      ]
    };
  }
};
</script>
