<style>
.conversation__message {
    padding: 16px;
    background-color: pink;
}

.conversation__message_incoming {}

.conversation__message_outgoing {}
</style>

<div class="conversation__message">
    Text
</div>