<script>
import AppIcon from './AppIcon.svelte'
import { mdiAccount } from '@mdi/js'
import Conversation from './Conversation.svelte'
</script>

<style>
.widget {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
}

.widget__header {
  background-color: red;
}

.widget__content {
  background-color: green;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.widget__conversation {
  margin-top: auto;
}

.widget__form {
  background-color: blue;
}
</style>

<div class="widget">
  <div class="widget__header">
    <AppIcon path={mdiAccount} />
  </div>
  <div class="widget__content">
    <div class="widget__conversation">
      <Conversation />
    </div>
  </div>
  <div class="widget__form">
    Form
  </div>
</div>